# Shared configuration for all ts-bot services
# Source this file: source config.env

# TeamSpeak 3 Server
TS3_ADDRESS="1.2.3.4"
TS3_PORT=9987

# Discord
DISCORD_TOKEN_FILE="/home/dan/code/ts-bot/shared/discord-token.txt"

# Stream Ports
DISCORD_STREAM_PORT=8080
TS3_STREAM_PORT=8081

# .NET requirement
DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1

# Project root
TS_BOT_ROOT="/home/dan/code/ts-bot"
